DATABASE_URL=postgresql://appuser:qaz123wsx@db/watsonn
DATABASE_URL_TEST=postgresql://appuser:qaz123wsx@db/watsonn_test

JWT_SECRETKEY=randomkey
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30


FRONTEND_URL=http://localhost:3000

MAIL_USERNAME=<GMAIL_USERNAME>
MAIL_PASSWORD=<GMAIL_PASSWORD>
MAIL_FROM=<SENDER_ADDRESS>
MAIL_PORT=587
MAIL_SERVER=smtp.gmail.com
